.mask-image-linear {
    mask-image: linear-gradient(to bottom, black 20%, transparent 100%);
}

.mask-image-radial {
    mask-image: radial-gradient(black 10%, transparent 100%);
}

.mask-image-radial-dynamic {
    --size: 400px;
    --mask: radial-gradient(circle var(--size) at var(--x,-400px) var(--y,-400px),black 0,transparent 30%);
    mask-image: var(--mask)
}
