@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

.header-bg {
  background-color: rgba(255, 254, 249, 0.1);
}
body {
  background-image: url(/bg-light.png);
  background-color: rgba(255, 254, 249, 0.9);
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url(/bg-dark.png);
    background-color: rgba(0, 0, 0, 1);
  }
  
  .header-bg {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 2px 2px #E6F4F1;
}

.logo-gradient  {
  background-image: linear-gradient(to right, #01a8df, #01acda 2%, #02bcc7 12%, #03c5bc 23%, #03c8b8 34%, #00a3e5);
}